 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
 <style>
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  </style>
<body>
	{{ content }}
<div class="container-fluid text-center">
	<h3> More about me </h3>
	<div class="col-md-4 text-center"> <h3><b>Personal Blog</b> </h3>
	<h1>{{ page.title }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul></div>
	<div class="col-md-4 text-center">
		<h3><b> Current Development Project </b></h3>
		<h4><p>Here you can find all the information about whatever my project I currently working on. Right now, I am working on ShockStohre. A command-line solution for password management. </p><p> <href=""</h4>   
	</div>
	<div class="col-md-4 text-center"> <h3><b>Octopus Arms Forge</b> </h3>   </div>
</div> 

</body>
</html> 
